// Foundation
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
main,
li {
    display: block;
}
a,
button {
    transition: .3s;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}

// Site=specific
#container {
    min-width: 320px;
    height: 100%;
}
.tab-form {
    padding: 15px;
}
.side-padded {
    padding: 0 15px;
}
.wide-modal {
    width: 90%;
}

// Force the nav to stay on the same line at small screen sizes
.nav-xs-left {
    float: left !important;
}
.nav-xs-right {
    float: right !important;
}

svg {
    display: inline-block;
    width: 100%; height: 100%;
}
.dash-cell-container {
    margin-bottom: 30px;
}
.dash-cell {
    background: #eee;
    border-radius: 4px;
    min-height: 205px;
}
.dash-cell-header {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}
.dash-cell-content {
    padding-bottom: 8px;
}
.dash-cell-row {
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dash-cell-row>span {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.dash-cell-action-bar{
    padding: 8px 8px 0;
    clear: both;
}
.dash-cell-action-bar>button {
    margin-right: 8px;
}

// Modififiers for server widget
.server-active {
    background: #e0ffe0;
}

// Horizontal bar gauge
.hbar-label {
    font-size: 9px;
    font-weight: bold;
    padding: 0 8px 0 4px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}
.hbar-gauge {
    display: inline-block;
    height: 30px;
    padding: 3px 0;
}
.hbar-value {
    font-size: 18px;
    padding: 0 4px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

// Donut gauge
.donut-gauge {
    margin: 15px 8px 0;
    width: 140px;
    height: 70px;
    //border: 1px solid cyan;
}

// Spinning icon for network activity
.network-activity {
    text-align: right;
    padding-right: 12px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    transform-origin: 51% 47%;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

// Console formatting
.btn {
    line-height: 1.428571429;
}

.console-container {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.console-wrap {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -60px 0;
    padding: 65px 6px 66px 6px;
}

.console-output {
    min-height: 100%;
    height: 100%;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 12px;
}

.console-input input {
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 12px;
}

.console-footer {
    height: 60px;
    padding: 6px;
}

// Responsive
@media (max-width: $screen-xs-max) {
    .modal {
        padding: 0;
        min-width: 310px;
    }
    .wide-modal {
        width: 98%;
        margin: 10px 0;
    }
}
